table {
    width: 500px;
}

.item-cart {
    border: solid 1px #ccc;
    border-radius: 4px;
}

.total {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    font-weight: bold;
}

.savings {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}
