<div class="item-cart">
  <div style="padding: 16px">
    <h2>Cart</h2>
  </div>
  <table mat-table [dataSource]="cart">

    <ng-container matColumnDef="item.name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let cartItem"> {{cartItem.item.name}} </td>
    </ng-container>

    <ng-container matColumnDef="count">
      <th mat-header-cell *matHeaderCellDef> Count</th>
      <td mat-cell *matCellDef="let cartItem"> {{cartItem.count}} </td>
    </ng-container>
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef> Total</th>
      <td mat-cell *matCellDef="let cartItem">{{cartItem.count * cartItem.item.price | currency:'EUR' }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div class="total">
    <h3>Total:</h3>
    <div class="spacer"></div>
    <h3>{{total | currency:'EUR' }}</h3>
    <div class="spacer"></div>
  </div>

</div>
