<form (ngSubmit)="submit()" class="customer-details" #formElement="ngForm">
  <mat-form-field class="full-width-form-field">
    <mat-label>ID:</mat-label>
    <input matInput [(ngModel)]="customer.id" name="id" pattern="DC-\d+" placeholder="DC-00000000000" required>
  </mat-form-field>
  <div class="form-row">
    <mat-form-field>
      <mat-label>First Name:</mat-label>
      <input matInput [(ngModel)]="customer.firstName" name="firstName" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name:</mat-label>
      <input matInput [(ngModel)]="customer.lastName" name="lastName" required>
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field style="flex-grow: 2">
      <mat-label>Street:</mat-label>
      <input matInput [(ngModel)]="customer.street" name="street" required>
    </mat-form-field>
    <mat-form-field style="flex-grow: 1">
      <mat-label>House Number:</mat-label>
      <input matInput [(ngModel)]="customer.houseNumber" name="houseNumber" required>
    </mat-form-field>
  </div>
  <div class="form-row">
    <mat-form-field>
      <mat-label>ZIP Code:</mat-label>
      <input matInput [(ngModel)]="customer.zipCode" name="zipCode" minlength="4" required placeholder="1234AB">
    </mat-form-field>
    <mat-form-field>
      <mat-label>City:</mat-label>
      <input matInput [(ngModel)]="customer.city" name="city" required >
    </mat-form-field>
  </div>
  <mat-form-field class="full-width-form-field">
    <mat-label>Email:</mat-label>
    <input matInput [(ngModel)]="customer.email" name="email" required email>
  </mat-form-field>
  <div class="form-actions">
    <button mat-raised-button color="warn" type="reset">
      <mat-icon>cancel</mat-icon>
      Clear
    </button>
    <button mat-raised-button type="submit" color="primary" [disabled]="submitting || formElement.invalid ?? false">
      <mat-icon>save</mat-icon>
      Save
    </button>
  </div>
  <div *ngIf="errorMessage">
    <mat-error>{{errorMessage}}</mat-error>
  </div>
</form>
